

.card {
  background-color: black;
  height: 200px;
  width: 200px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  justify-content: space-around;
  justify-content: space-evenly;
 
}




.card > .img-container {
  height: 100%;
  
 
}
.card > .img-container > img {
  width: 100%;
 
}





